@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
 *{margin: 0;
    padding:0;
    border:0;}
 body{ background-color: rgb(255, 0, 0);
    
    }
    header{
    padding: 32px;
    border-bottom:3px solid rgb(5, 94, 247);
    background-color: rgb(0, 0, 0);
    }
    header div{
    text-align: center; 
    }
    header div a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 30px;
    margin: 0 16px;
    text-decoration: none;
    font-family: "Bitter", serif;
    }
    header div a:hover{
    color: rgb(48, 10, 237);
    transition: color 700ms;
    }
#box{
   text-align: center;
   padding: 32px;
}
#box img{
   border-radius: 50%;
   border: 5px solid green;
   margin-bottom: 5px solid blue;
}
#box h1{
   font-size: 42px;
   line-height: 52px;
   font-weight: bold;
}
#box h2{
   font-size: 24px;
   line-height: 34px;
   font-weight: normal;
   margin-top: 8px;
   opacity: 0.8;
}
#box p{
   max-width: 500px;
   margin: 32px auto;
   font-size: 24px;
   line-height: 34px;
}